{% extends 'base.html' %}

{% block content %}
	<div class="container-lg">
		<h1>Móvil App</h1>
		<button type="button" style="width: 500px; margin: 10px auto" class="btn btn-dark btn-lg btn-block"><a href="{{ url_for('registrar_movil') }}">Registrar móvil</a></button>
		<button type="button" style="width: 500px; margin: 10px auto" class="btn btn-dark btn-lg btn-block"><a href="{{ url_for('obtener_movil') }}">Obtener móvil</a></button>
		<button type="button" style="width: 500px; margin: 10px auto" class="btn btn-dark btn-lg btn-block"><a href="{{ url_for('get_moviles') }}">Obtener móviles</a></button>
		<button type="button" style="width: 500px; margin: 10px auto" class="btn btn-dark btn-lg btn-block"><a href="{{ url_for('borrar_movil') }}">Borrar móvil</a></button>
	</div>
	<a href="/">Volver a menú principal</a>
{% endblock %}